body {
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    flex-direction: column;
    align-items:center;
    background-color:var(--primaryColor);
    overflow: hidden;
}

h1{
    margin: 0;
}

#cell-holder{
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    aspect-ratio: 1 / 1;
    width: 50%;
    gap: 8px;
    background-color: var(--primaryColor);
    padding: 15px;
    border-radius: 15px;
}

.header{
    margin: 5px;
    padding: 0px 25px;
    background-color: var(--secondaryColor);
    color: var(--primaryColor);
    font-size: xx-large;
    border-radius: 15px;
}

.cell{
    display:flex;
    justify-content: center;
    align-items:center;
    font-size: xx-large;
    background-color: var(--secondaryColor);
    color: var(--primaryColor);
    border-radius: 15px;
    overflow-wrap: anywhere;
}

.cell.selected{
    border: var(--tertiaryColor)   8px solid;
}

#headerHolder{
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: xx-large;
}
#buttonHolder{
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: xx-large;
}

.button{
    margin: 5px;
    padding: 0px 25px;
    background-color: var(--secondaryColor);
    color: var(--primaryColor);
    font-size: x-large;
    border-radius: 15px;
}

#confetti{
    transform: translateY(var(--confettiY));
    width: var(--confettiWidth);
    height: var(--confettiHeight);
    
}